@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";
@import "dashboard";
@import "toastr";

html, body {
	width: 100%;
	height: 100%;
	background-color: #eee;
}

.navbar {
	// margin-bottom: 0;
}

.sidebar {
	margin-top: -20px;
}

.paper {
	padding: 40px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.paper-error {
	padding: 40px;
	background-color: #F44336;
	color: #fff;
	border-radius: 2px;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
