@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";
@import "toastr";

body {
	background-color: #eee;
}

.paper {
	padding: 40px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.paper-error {
	padding: 40px;
	background-color: #F44336;
	color: #fff;
	border-radius: 2px;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}